@charset "UTF-8";



.table {
    
    border-collapse: collapse;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    color:#A7A1AE;
    background-color:#1F2739;
    margin: 50px auto;
    padding: 20px;
    max-width: 90%; /* adjust this value as needed */
  }

 
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    padding-bottom: 1%;
	  padding-top: 1%;
    padding-left: 1%;
  }
  
  .table th {
    background-color: #bebebe;
    cursor: pointer;
    color: #000;
  }
  
  .table tr:nth-child(even) {
    background-color: #2C3446;
  }
  
  .table tr:hover {
    background-color: #ddd;
    color: #000;
  }
  